/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2014, 4:07:23 PM
    Author     : Llewellyn
*/

@import url(http://fonts.googleapis.com/css?family=Michroma);

body, button, .ui-btn {
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.ui-body-a, .ui-body-a button {
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.ui-body-a input, .ui-body-a select, .ui-body-a textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#forgot, #login, #signup, #dashboard, #logout {
    background: #fff url('../images/background.png') 50% 50% no-repeat;
    background-size: cover;
}

#rewards, #whatsnew, #ranking {
    background: #fff url('../images/Dashboard-Background.png') 100% 100% no-repeat;
    background-size: cover;
}

#content, #header, #footer, #footer-none {
    max-width: 768px;
    margin: 0 auto;
}

#content {
    padding: 0;
}

#header {
    border: none;
    background-color: #fff;
}

#footer-none {
    border: none;
    background-color: transparent;
}

#footer {
    background-color: #fff;
    border-top: 1px solid #d32627;
}

#content-body-main {
    padding: 30px;
}

#content-title {
    border-top: 1px solid #d32627;
    border-bottom: 1px solid #d32627;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #fff;
}

#content-title > h2 {
    color: #d32627;
    font-weight: bold;
    font-size: 14px;
}

#content-head > h2 {
    color: #d32627;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
}

#rankingsOutput {
    border-collapse: collapse;
    font-size: 10px;
}

#logoutDiv {
    text-align: right;
    padding-right: 30px;
    font-weight: normal;
    font-size: 12px;
    text-transform: none;
}

#logoutA {
    text-align: center; text-decoration: none; color: #333; text-shadow: none; font-family: Arial, Helvetica, sans-serif;
}

.resposive {
    width: 100%;
}

.form-input {
    border: 1px solid #d32627;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    display: block;
    line-height: 40px;
    margin: 10px 0;
    height: 40px;
}

#my-but, #loginbut, #signupbut, #forgotbut {
    background-color: #d32627;
    color: #fff;
    border: none;
    width: 100%;
    display: block;
    height: 55px;
    line-height: 55px;
    font-weight: bold;
    margin: 10px 0;
    cursor:pointer;
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.my-log {
    background-color: #fff;
    color: #ccc;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    padding: 5px;
    cursor: pointer;
}

#my-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-shadow: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
    width: 95%;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    cursor: pointer;
    width: 100%;
}

.navImg {
    border: 1px solid #d32627;
}

#newsCollaps {
    background-color: transparent; 
    border:none;
}

#newsImg {
    width:60px; 
    height:60px; 
    overflow:hidden;
}

#newsTitle {
    height:60px; 
    line-height: 60px; 
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;
    text-shadow: none;
}

#newsContent {
    background-color: transparent;
    border-color: #D32424;
    color: #d32424;
}