<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.drivingSuccess"
        versionCode = "102" 
        version   = "1.0.2">

    <name>Driving Success</name>

    <description>
        Sales team app for Landrover and Jaguar Southern Africa  
    </description>

    <author href="http://www.myitmanager.co.za" email="support@myitmanager.co.za">
        My IT Manager
    </author>

    <platform name="ios" >
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />  
        <preference name="target-device" value="universal" />
        <preference name="prerendered-icon" value="true" />
        <preference name="detect-data-types" value="true" />
        <preference name="exit-on-suspend" value="true" />  
        
        <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-120.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-152.png" width="152" height="152" />
        <icon src="res/icon/ios/icon-57-2x.png" width="114" height="114" />
        <icon src="res/icon/ios/icon-72-2x.png" width="144" height="144" />
        <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480" />
        <splash src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
        <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
        <splash src="res/screen/ios/screen-ipad-portrait.png" width="768" height="1024" />
    </platform>

    <platform name="android" >
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />  
        <icon src="res/icon/android/icon-36-ldpi.png" qualifier="ldpi" />
        <icon src="res/icon/android/icon-36-ldpi.png" qualifier="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" qualifier="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" qualifier="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" qualifier="xhdpi" />
        <splash src="res/screen/android/screen-ldpi-portrait.png" qualifier="port-ldpi" />
        <splash src="res/screen/android/screen-mdpi-portrait.png" qualifier="port-mdpi" />
        <splash src="res/screen/android/screen-hdpi-portrait.png" qualifier="port-hdpi" />
        <splash src="res/screen/android/screen-xhdpi-portrait.png" qualifier="port-xhdpi" />
    </platform>

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    -->
    <plugin name="cordova-plugin-camera">
        <param name="CAMERA_USAGE_DESCRIPTION" value="We are using the Camera for uploading your till slip." />
        <param name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="We are using the Photo Library for uploading your till slip." />
    </plugin>
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-whitelist" />

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />

    <!-- Define app splash screen for each platform. -->
    <splash src="splash.png" />
    
    <!-- Whitelisting access -->
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <!-- Allow SMS links to open messaging app -->
    <allow-intent href="sms:*" />
    <!-- Allow tel: links to open the dialer -->
    <allow-intent href="tel:*" />
    <!-- Allow geo: links to open maps -->
    <allow-intent href="geo:*" />
    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>
